@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pr-color: #dce1de;
}

body {
  background-color: var(--pr-color);
}

::selection {
  background-color: #f5a623;
  color: #fff;
}

::-moz-selection {
  background-color: #f5a623;
  color: #fff;
}
